Package: vpnvm
Version: 0.3-0
Architecture: all
Maintainer: Artyom <artys@unknown>
Installed-Size: 29
Section: unknown
Priority: optional
Multi-Arch: foreign
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
